.portal {
  position: "fixed";
  height: "100vh";
  aspect-ratio: "9 / 16";
}

.backdrop {
  position: absolute;
  min-height: 100dvh;
  aspect-ratio: 9 / 16;
  inset: 0;
  background-color: #00443b;
  opacity: 0.5;
  transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);

  @media (prefers-color-scheme: dark) {
    opacity: 0.7;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.Popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 85%;
  padding: var(--padding-s) var(--padding-m);

  border-radius: calc(var(--r) * 8);
  border: var(--border-w) solid white;
  background-color: var(--color-w4);

  color: white;

  transition: all 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.close-line {
  display: flex;
  justify-content: flex-end;

  margin-bottom: var(--padding-xs);
}

.close-btn {
  margin-right: calc(var(--r) * -1.8);

  background: none;
  border: none;
  color: white;

  font-size: 0;
}

.close-btn > * {
  width: var(--size-l);
  height: var(--size-l);
}
