.scroll-wrapper {
  position: relative;

  width: 100%;
  height: 100%;
  padding-right: var(--padding-l);

  overflow: hidden;
}

.scroll-wrapper,
.scroll-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-wrapper::-webkit-scrollbar,
.scroll-content::-webkit-scrollbar {
  display: none;
}

.scroll-content {
  width: 100%;
  height: 100%;

  overflow-y: auto;
}

.scroll-track-wrapper {
  position: absolute;
  top: 0;
  right: 0;

  width: var(--size-s);
  height: 100%;

  background-color: #d1d3d4;

  border-radius: 9999px;
}

.scroll-track {
  position: relative;

  width: 100%;
  height: 100%;
}

.scroll-bar {
  position: absolute;
  top: 0;
  left: 0;

  width: var(--size-s);

  background-color: var(--color-w1);

  border-radius: 9999px;
}
