.touch-screen-img {
  height: var(--size-l);
  animation: anime 3s ease-in-out infinite;
}

@keyframes anime {
  0% {
    transform: scale(0.95);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.4;
  }
}
